<div class="m-app-loading" ng-animate-children></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="well well-sm">
                <legend>Filter</legend>
                <div class="form-group">
                    <label>Search</label>
                    <input class="form-control input-sm" ng-model="searchKeyword.$" type="text" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }">
                </div>
                <div class="form-group">
                    <label>Year</label>
                    <input type="text" class="form-control input-sm" maxlength="250" ng-model="sort.searchYear" value="" required data-date-format="yyyy" data-provide="datepicker" data-date-min-view-mode="2" data-date-max-view-mode="2" ng-change="yearChangeHandler(sort.searchYear)">
                </div>
                <div class="form-group">
                    <label>Company</label>
                     <select class="form-control input-sm" ng-model="sort.company" ng-change="sortComapnyChangeHandler(sort.company)">
                        <option ng-value="0" value="0">All</option>
                        <option ng-repeat="res in companies" value="{{res.id}}">{{res.company}}</option>
                    </select>
                </div>
                <div class="form-group text-center">
                    <button type="button" ng-click="load()" class="btn btn-default"><span class="fa fa-search"></span></button>
                    <button ng-click="reset()" class="btn btn-default">Reset</button>
                    <button type="button" ng-click="add()" class="btn btn-primary"><span class="fa fa-plus"></span></button>
                </div>
                <div class="form-group">
                    <label>Showing</label>
                    <select ng-model="totalItems">
                        <option ng-repeat="res in pagnation.dropdown" ng-value="{{res.number}}">{{res.name}}</option>
                    </select> of {{(results|filter:searchKeyword).length}} records
                </div>
            </div>
            <dir-pagination-controls max-size="pagnation.maxsize" direction-links="true" boundary-links="true"></dir-pagination-controls>
        </div>
        <div class="col-md-6">
            <table class="table table-condensed table-hover table-striped click">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th custom-sort order="'date'" sort="sort">Date</th>
                        <th custom-sort order="'categoryName'" sort="sort">Category</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th custom-sort order="'companyName'" sort="sort">Company</th>
                        <!-- <th custom-sort order="'type'" sort="sort">Type</th> -->
                        <th style="width: 80px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="res in results | orderBy:sort.sortType:sort.sortReverse | filter:searchKeyword:strict || undefined | itemsPerPage: totalItems">
                        <td>{{res.id}}</td>
                        <td>{{res.date}}</td>
                        <td>{{res.categoryName}}</td>
                        <td class="short-description">{{res.description}}</td>
                        <td>{{res.amount| currency:'R '}}</td>
                        <td>{{res.companyName}}</td>
                        <!-- <td>{{res.type}}</td> -->
                        <td class="text-right">
                            <span>

                            <button class="btn btn-info btn-xs" type="button" ng-click="edit( res.id )"><span class="fa fa-pencil"></span></button>
                            </span>
                            <span>

                            <button type="button" class="btn btn-warning btn-xs" ng-click="delete( res.id )"><span class="fa fa-trash"></span></button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <div class="well well-sm">
                <label>Expense Overview</label>
                <table class="table table-condensed table-hover table-striped categories" id="expenseOverview">
                    <thead>
                        <tr>
                            <th custom-sort order="'categoryName'" sort="sort">Category</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="res in categories">
                            <td>{{res.categoryName}}</td>
                            <td>{{res.catTotal| currency:'R '}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
