<div class="m-app-loading" ng-animate-children></div>
<ng-include src=" '/application/templates/sub-nav.htm' " ng-if="!add"></ng-include>
<div class="container-fluid">
    <form method="post" ng-submit="save()" id="form">
        <div class="row">
            <div class="col-lg-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Business Name
                                    <span ng-if="add" class="requiredField">*</span>
                                </label>
                                <input type="text" class="form-control" maxlength="300" ng-model="results.business">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Number</label>
                                <input type="text" class="form-control" maxlength="100" ng-model="results.number">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Fax</label>
                                <input type="text" class="form-control" maxlength="20" ng-model="results.fax">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Registration Number</label>
                                <input type="text" class="form-control" maxlength="20" ng-model="results.registration">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>VAT #</label>
                                <input type="text" class="form-control" maxlength="20" ng-model="results.vat">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Billing Address</label>
                                <textarea class="form-control" rows="4" maxlength="500" ng-model="results.billing_address"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>City
                                    <span ng-if="add" class="requiredField">*</span>
                                </label>
                                <input type="text" class="form-control" maxlength="100" ng-model="results.city">
                            </div>
                            <div class="form-group">
                                <label>Postal Code<span ng-if="add" class="requiredField">
                                        *</span>
                                </label>
                                <input type="text" class="form-control" maxlength="20" ng-model="results.postal_code">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="well well-sm">
                    <div class="form-group" ng-if="!add">
                        <span class="label label-info">Credit -
                            {{credit.data | currency:'R '}}</span>
                    </div>
                    <div class="form-group">
                        <label>Notes</label>
                        <textarea class="form-control" rows="4" ng-model="results.notes"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Bad Client</label>
                                <div class="btn-group btn-group-sm">
                                    <label class="btn btn-default" ng-model="results.bad_client" uib-btn-radio="'true'" uncheckable>True</label>
                                    <label class="btn btn-default" ng-model="results.bad_client" uib-btn-radio="'false'" uncheckable>False</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" ng-if="!add">
                            <div class="form-group">
                                <label>Signed Up</label>
                                <input type="text" class="form-control" disabled maxlength="20" ng-model="results.signup_date">
                            </div>
                        </div>
                        <div class="col-md-4" ng-if="!add">
                            <div class="form-group">
                                <label>Canceled Date</label>
                                <input type="text" class="form-control" disabled name="canceled_date" ng-model="results.canceled_date">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid" style="margin-top:20px;" ng-if="!add">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Income Per Annum</div>
                <div class="panel-body">
                    <canvas class="chart chart-line" chart-data="income.data" chart-labels="income.labels" chart-series="income.series" chart-colors="lineGraph" chart-options="graphoptions" height="100"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-include src=" '/application/templates/tmp-footer.htm' "></ng-include>
