<div class="m-app-loading" ng-animate-children></div>
<ol class="breadcrumb">
    <li>
        <a href="#/campaigns/edit/{{parent}}">Campaign</a>
    </li>
    <li>
        <a href="#/campaigns/clients/{{parent}}">Clients</a>
    </li>
    <li class="active">
        <a href="#/campaigns/funds/{{parent}}">Funds</a>
    </li>
    <li>
        <a href="#/campaigns/emails/{{parent}}">Emails</a>
    </li>
    <li>
        <a href="#/campaigns/logs/{{parent}}">Log</a>
    </li>
</ol>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="well well-sm">
                <legend>Filter</legend>
                <div class="form-group">
                    <label>Year</label>
                    <input type="text" class="form-control input-sm" ng-model="ads.year" value="" required data-date-format="yyyy" data-provide="datepicker" data-date-min-view-mode="2" data-date-max-view-mode="2">
                </div>
                <div class="form-group">
                    <label>Month</label>
                    <input type="text" class="form-control input-sm" ng-model="ads.month" value="" required data-date-format="mm" data-provide="datepicker" data-date-min-view-mode="1" data-date-max-view-mode="1">
                </div>
                <div class="form-group">
                    <label>Search</label>
                    <input class="form-control input-sm" ng-model="searchKeyword.$" type="text" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }">
                </div>
                <div class="form-group text-center">
                    <button ng-click="load()" class="btn btn-sm btn-default">
                        <span class="fa fa-search"></span>
                    </button>
                    <button ng-click="emailStatement( client.id )" class="btn btn-sm btn-info" style="display:none;">
                        <span class="fa fa-envelope"></span>
                    </button>
                    <button ng-click="previewAdStatement()" class="btn btn-sm btn-warning">
                        <span class="fa fa-print"></span>
                    </button>
                    <button ng-click="add( parent )" class="btn btn-sm btn-primary">
                        <span class="fa fa-plus"></span>
                    </button>
                    <button type="button" ng-click="exportToExcel( '#overview' )" class="pull-right btn btn-primary"><span class="fa fa-download"></span></button>
                </div>
                <div class="form-group">
                    <ul class="list-group">
                        <li class="list-group-item">Credit:<span class="badge">{{totalCredit| currency:'R '}}</span>
                        </li>
                        <li class="list-group-item">Debit:<span class="badge">{{totalDebit| currency:'R '}}</span>
                        </li>
                        <li class="list-group-item">Remaining:<span class="badge">{{totalCredit - totalDebit| currency:'R '}}</span>
                        </li>
                    </ul>
                </div>
                <p>Showing:
                    {{(results|filter:searchKeyword).length}}
                    of
                    {{( results ).length}}
                    records</p>
            </div>
        </div>
        <div class="col-md-9">
            <table class="table table-condensed table-hover table-striped click" at-table at-paginated at-list="list" at-config="config" id="overview">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th custom-sort order="'date'" sort="sort">Date</th>
                        <th custom-sort order="'business'" sort="sort">Client</th>
                        <th custom-sort order="'comment'" sort="sort">Comment</th>
                        <th custom-sort order="'credit'" sort="sort">Credit</th>
                        <th custom-sort order="'debit'" sort="sort">Debit</th>
                        <th></th>
                        <th style="width: 60px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="res in results | orderBy:sort.sortType:sort.sortReverse  | filter:searchKeyword:strict || undefined" ng-init="setTotals( res ); val = updateTotal( res )">
                        <td>{{res.id}}</td>
                        <td>{{res.date}}</td>
                        <td>{{res.business}}</td>
                        <td>{{res.comment}}</td>
                        <td>{{res.credit| currency:'R '}}</td>
                        <td>{{res.debit| currency:'R '}}</td>
                        <td>{{val| currency:'R '}}</td>
                        <td>
                            <div ng-show="res.id != 0">
                                <span ng-if="userRoles.edit == 'true'">
                                    <a class="btn btn-info btn-xs" ng-click="edit( res.id )">
                                        <span class="fa fa-pencil"></span>
                                    </a>
                                </span>
                                <span>
                                    <a class="btn btn-warning btn-xs" ng-click="remove( res.id )">
                                        <span class="fa fa-trash"></span>
                                    </a>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
