<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-home"></span>
            </button>
            <a class="navbar-brand">{{title}}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/dashboard">
                        <span class="fa fa-home"></span>
                    </a>
                </li>
                <!--
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-search"></span> <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <form role="search">
                            <div id="Search">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="client_search" value="" placeholder="search clients" id="search"/>
                                    <span class="input-group-addon" ><img src="<?php // echo BASE_PATH ?>/public/img/loading.gif" height="16" width="16" id="loading"/></span>
                                </div>
                                <ul id="result" style="display:none;"></ul>
                            </div>
                        </form>
                    </li>
                </ul>
            </li>
            -->
                <li>
                    <a href="#/menu">Menu</a>
                </li>
            </ul>
        </div>
    </div>
</div>
