<div class="navbar navbar-default navbar-fixed-bottom text-center">
    <div ng-if="submitted">
        <a class="btn btn-info" ng-if="submitted">
            <span class="fa fa-refresh fa-spin"></span>
            Saving!
        </a>
    </div>
    <div ng-if="!submitted">
        <button type="button" back class="btn btn-default">
            <span class="fa fa-chevron-left"></span>
            Back
        </button>
        <button type="submit" name="submit" value="insert" class="btn btn-success" form="form">
            <span class="fa fa-save"></span>
            Update
        </button>
        <button class="btn btn-default" type="button" ng-click="load()">
            <span class="fa fa-refresh"></span>
            Refresh
        </button>
        <button type="button" class="btn btn-warning" ng-click="printHandle('/app/invoices/printInvoice/'+data.id)" ng-if="(!add) && (print)">
            <span class="fa fa-print"></span>
            Print Preview
        </button>
        <button class="btn btn-success" ng-click="creditInvoice( data.id )" type="button" ng-if="(!add) && (credit)">
            <span class="fa fa-dollar"></span>
            Credit
        </button>
        <button class="btn btn-primary" ng-click="sendInvoice( data.id )" type="button" ng-if="(!add) && (email)">
            <span class="fa fa-envelope"></span>
            Email
        </button>
    </div>
</div>
