<div class="m-app-loading" ng-animate-children></div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <legend>Product Details</legend>
            <form method="post" ng-submit="save()" id="form">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" ng-if="!addAll">
                            <label>Client #</label>
                            <input type="text" class="form-control input-sm" maxlength="250" ng-model="results.clients" value="" disabled="disabled">
                        </div>
                        <div class="form-group" ng-if="addAll">
                            <label>Client
                                <span ng-if="add" class="requiredField">*</span>
                            </label>
                            <select class="form-control" chosen options="clients" ng-model="results.clients">
                                <option value="">Please select one</option>
                                <option ng-repeat="res in clients" ng-value="{{res.id}}">{{res.business}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" ng-if="!add">
                            <label>Item</label>
                            <input type="text" class="form-control input-sm" maxlength="250" ng-model="category.category" value="" disabled="disabled">
                        </div>
                        <div class="form-group" ng-if="add">
                            <label>Item
                                <span ng-if="add" class="requiredField">*</span>
                            </label>
                            <select class="form-control" chosen options="categories" ng-model="results.categories" ng-change="updatePrice()" id="categories">
                                <option value="">Please select one</option>
                                <option ng-repeat="res in categories" ng-value="{{res.id}}" value="{{res.id}}" data-price="{{res.price}}">{{res.category}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Date
                                <span ng-if="add" class="requiredField">*</span>
                            </label>
                            <input type="text" class="form-control" maxlength="250" ng-model="results.date" value="" ng-disabled="(userRoles.id != '2' && !add)" data-date-format="yyyy-mm-dd" data-provide="datepicker">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Price</label>
                            <input type="text" class="form-control" maxlength="250" ng-model="results.price" id="price" value="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control" maxlength="80" ng-model="results.description" value="" ng-blur="cleanup()">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Company
                                <span ng-if="add" class="requiredField">*</span>
                            </label>
                            <div class="btn-group btn-group-sm" data-toggle="buttons">
                                <label class="btn btn-default" ng-repeat="res in companies" ng-model="results.companies" uib-btn-radio="res.id" ng-disabled="(userRoles.id != '2' && !add)">{{res.company}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Renewable</label>
                                <div class="btn-group btn-group-sm" data-toggle="buttons">
                                    <label ng-disabled="disable();" class="btn btn-default" ng-model="results.renewable" uib-btn-radio="'a'">Annual</label>
                                    <label ng-disabled="disable();" class="btn btn-default" ng-model="results.renewable" uib-btn-radio="m">Monthly</label>
                                    <label ng-disabled="disable();" class="btn btn-default" ng-model="results.renewable" uib-btn-radio="'o'">Once Off</label>
                                    <label ng-disabled="disable();" class="btn btn-default" ng-model="results.renewable" uib-btn-radio="'r'">Reusbale</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Period</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" ng-model="results.period" value="" ng-disabled="results.renewable!='m'">
                                    <span class="input-group-addon">months</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Canceled Date</label>
                                <input type="text" class="form-control" maxlength="250" ng-model="results.canceled_date" disabled value="">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="well well-sm" ng-if="!add">
                <legend>Invoice History</legend>
                <table class="table table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="res in invoices_items">
                            <td>{{res.date}}</td>
                            <td>{{res.price}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<ng-include src=" '/application/templates/tmp-footer.htm' "></ng-include>
