<div class="m-app-loading" ng-animate-children></div>
<div class="well well-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Search</span>
                    <input class="form-control" ng-model="searchKeyword.$" type="text" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }">
                    <span class="input-group-btn">
                        <button ng-click="reset()" class="btn btn-sm btn-default">Reset</button>
                    </span>
                    <span class="input-group-btn">
                        <button type="button" ng-click="add()" class="btn btn-sm btn-primary">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <table class="table table-condensed table-hover table-striped click">
        <thead>
            <tr>
                <th>ID</th>
                <th custom-sort order="'name'" sort="sort">Name</th>
                <th custom-sort order="'surname'" sort="sort">Surname</th>
                <th>Username</th>
                <th style="width: 100px;"></th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="res in results | orderBy:sort.sortType:sort.sortReverse | filter:searchKeyword:strict || undefined | itemsPerPage: totalItems">
                <td>{{res.id}}</td>
                <td>{{res.name}}</td>
                <td>{{res.surname}}</td>
                <td>{{res.username}}</td>
                <td>
                    <span ng-if="userRoles.edit =='true'">
                        <a class="btn btn-info btn-xs" href="#/users/edit/{{res.id}}">
                            <span class="fa fa-pencil"></span>
                        </a>
                    </span>
                    <span ng-if="userRoles.cancel =='true'">
                        <a class="btn btn-danger btn-xs" ng-click="enable( res.id )" ng-show="res.canceled == 'true'">
                            <span class="fa fa-times"></span>
                        </a>
                        <a class="btn btn-success btn-xs" ng-click="cancel( res.id )" ng-show="res.canceled == 'false'">
                            <span class="fa fa-check"></span>
                        </a>
                    </span>
                    <span ng-if="userRoles.delete =='true'">
                        <a class="btn btn-warning btn-xs" ng-click="delete( res.id )">
                            <span class="fa fa-trash"></span>
                        </a>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-4">
        Showing
        <select ng-model="totalItems">
            <option value="">All</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
        </select>
        records per page
    </div>
    <div class="col-md-4">
        <dir-pagination-controls max-size="13" direction-links="true" boundary-links="true"></dir-pagination-controls>
    </div>
    <div class="col-md-4">Showing:
        {{(results|filter:searchKeyword).length}}
        of
        {{( results ).length}}
        records</div>
</div>
